input {
  height: 3rem;
  background-color: var(--input-base);
  border-radius: 0.5rem;
  padding-inline: 0.625rem;
  font: var(--body-md);
}

input,
input[type="date"] {
  color: var(--text-body);
  border: none;
  outline: 0.0625rem solid var(--input-stroke);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: grayscale(100%) brightness(0%) invert(50%);
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.checkbox strong {
  color: var(--brand-light);
}

.checkbox input {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  opacity: 0;
}

.checkbox .checkmark {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid var(--input-stroke);
  border-radius: 0.25rem;
  background-color: transparent;
  position: relative;
  transition: border-color 0.2s ease;
}

.checkbox input:checked + .checkmark {
  border-color: var(--brand-light); 
  background-color: transparent;
}

.checkbox .checkmark::after {
  content: "";
  position: absolute;
  width: 0.3125rem;
  height: 0.5625rem;
  border-right: 0.125rem solid var(--brand-light);
  border-bottom: 0.125rem solid var(--brand-light);
  top: 0.125rem;
  left: 0.3125rem;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.checkbox input:checked + .checkmark::after {
  opacity: 1;
}